*{
    margin: 0;
    padding: 0;
}
.top_bar{
    height: 56px;
    padding: 0 16px;
    background-color: rgba(0, 0, 255, 0.13);
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    
}
#top_left{
    width: 169px;
    height: 56px;
    background-color: white;
    flex-direction: row;
    display: flex;
    align-items: center;
}
#top_tap{
    width: 24px;
    height: 24px;
    padding: 8px;
}
#top_icon{
    width: 90px;
    height: 20px;
    padding: 18px 14px 18px 16px;
}
#top_center{
    width: 728px;
    height: 40px;
    background-color: white;
}
#top_search{
    
}


#top_right{
    width: 225px;
    height: 40px;
    background-color: white;
    display: flex;
}
#top_right div{
    display: inline-block;
    overflow: hidden;
}
#top_app{
    width: 24px;
    height: 24px;
    padding: 8px;
   
}
#top_setting{
    width: 24px;
    height: 24px;
    padding: 8px;
    
}
#top_login{
    width: 24px;
    height: 24px;
    padding: 8px;
    
}



.main{
    width: 100%;
    height: auto;
    background-color: rgba(137, 43, 226, 0.295);
    
}
#left_bar{
    background-color: rgb(255, 255, 255);
    width: 240px;
    height: 913px;
    display: inline-block;
    overflow-x: hidden;
}
#center_main{
    width: 1654px;
    height: 913px;
    display: inline-block;
    overflow-x: hidden;
    background-color: rgba(255, 255, 255, 0.11);
    vertical-align: top;
}
#left_1{
    padding: 12px 0;
    border-bottom: solid 1px rgb(224, 224, 224);
}
#left_2{
    padding: 8px 0;
    border-bottom: solid 1px rgb(224, 224, 224);
}
#left_3{
    width: 176px;
    height: 108px;
    padding: 16px 32px;
    border-bottom: solid 1px rgb(224, 224, 224);
}
#str_3{
    font-size: 13.85px;
    width: 176px;
    height: 60px;
}
#login_3{
    width: 75.5px;
    height: 24px;
    padding: 5px 15px;
    border: solid 1px #065fd4;
    border-radius: 2px;
    margin-top: 12px;
}
#left_4{
    border-bottom: solid 1px rgb(224, 224, 224);
    padding: 8px 0;
}
#str_4{
    width: 192px;
    height: 19px;
    padding: 8px 24px;
    font-size: 14px;
}
#left_5{
    border-bottom: solid 1px rgb(224, 224, 224);
    padding: 8px 0;
}
#ch_5{
    width: 192px;
    height: 40px;
    padding: 0 24px;
}
#left_6{
    border-bottom: solid 1px rgb(224, 224, 224);
    padding: 8px 0;
}
#str_6{
    font-size: 14px;
    width: 192px;
    height: 19px;
    padding: 8px 24px;
}
#left_7{
    border-bottom: solid 1px rgb(224, 224, 224);
    padding: 8px 0;
}
#left_8{
    width: 192px;
    height: 54px;
    padding: 16px 24px 0 24px;
}
#left_9{
    width: 192px;
    height: 72px;
    padding: 12px 24px 0 24px;
}
#left_10{
    width: 192px;
    height: 90px;
    padding: 16px 24px;
}
#left_8 div{
    font-size: 13px;
    margin-right: 8px;
    height: 18px;
    float: left;
}
#left_9 div{
    font-size: 13px;
    margin-right: 8px;
    height: 18px;
    float: left;
}
#left_10{
    font-size: 12px;
}
#str_10{
    height: 14px;
}
#info_10{
    height: 72px;
}
#left_1 div{
    width: 192px;
    height: 40px;
    padding: 0 24px;
}
#left_2 div{
    width: 192px;
    height: 40px;
    padding: 0 24px;
}
.li_4{
    width: 192px;
    height: 40px;
    padding: 0 24px;
}
#left_5 div{
    width: 192px;
    height: 40px;
    padding: 0 24px;
}
#left_6 div{
    width: 192px;
    height: 40px;
    padding: 0 24px;
}
#left_7 div{
    width: 192px;
    height: 40px;
    padding: 0 24px;
}

::-webkit-scrollbar {
    width: 16px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #606060;
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}